.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote,
p {
  font-family: "Nunito Sans", Constantia, "Lucida Bright", Lucidabright,
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif",
    "Liberation Serif", Georgia, serif;
}

li {
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
  h4 {
    font-size: 1em;
  }
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  p {
    margin: 1em 0em;
  }
  padding: 0 1em;
}

@media only screen and (min-width: 0px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  blockquote,
  ul,
  li,
  p {
    max-width: calc(100vw - 32px);
  }
}
