@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900");

.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote,
p {
  font-family: "Lato", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif",
    Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia,
    serif;
}
